
@{
    ViewData["Title"] = "Apply For Vehicle Rental";
}

<h1>Apply</h1>

<!--
    Make:
    Model
    Year
    Serial#
    Miles
    Type ( Car or truck)

-->

<form method="post">
    
    <label for="full-name">Full Name:</label>
    <input type="text" id="full-name" name="full-name" />
    <span>*</span>
    <br />

    <label for="make">Make:</label>
    <input type ="text" id="make" name="make" />
    <span>*</span>
    <br />

    <label for="model">Model:</label>
    <input type="text" id="model" name="model" />
    <span>*</span>
    <br />

    <label for="year">Year:</label>
    <input type="text" id="year" name="year" />
    <span>*</span>
    <br />

    <label for="miles">Miles:</label>
    <input type="text" id="miles" name="miles" />
    <span>*</span>
    <br />

    <input type="submit" value="Apply" />
           

</form>

